@font-face {
  font-family: "Gt Flexa";
  src: url("../css/GT Flexa Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "GT Flexa", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
  grid-auto-flow: dense;
  padding: 10px;
  background-color: #021e73;
}

.grid-item {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  opacity: 0;
  font-size: 40px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
  background-color: #423dd9;
  height: 100%;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  color: #929796;
  border-radius: 5px;
}

.grid-item h2 {
  color: #f2e52e;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -12px;
  font-size: 4.2rem;
}

.grid-item h3 {
  color: #e9d249;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.2rem;
  font-weight: 700;
}

.grid-item p {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cabc69;
}

.grid-item:hover .image-container img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 5px 3px 30px 9px #000000;
  box-shadow: 0px 14px 43px 6px #000000;
}

.grid-item:hover .album-disc {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.8;
}

.span-2 {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

@media (max-width: 646px) {
  .grid-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .span-2 {
    grid-column-end: auto;
    grid-row-end: auto;
  }
}

img {
  width: 100%;
  height: auto;
}

.image-container {
  width: 100%;
  display: table;
}

.image-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 7px 4px 8px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 7px 4px 8px 0px rgba(0, 0, 0, 0.63);
  -webkit-transition: -webkit-transform 0.7s ease, -webkit-box-shadow 0.7s ease;
  transition: -webkit-transform 0.7s ease, -webkit-box-shadow 0.7s ease;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
  transition: transform 0.7s ease, box-shadow 0.7s ease, -webkit-transform 0.7s ease, -webkit-box-shadow 0.7s ease;
}

.album-disc {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
  margin-top: 15px;
}

.album-disc a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.intro-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #021e73;
  display: -ms-grid;
  display: grid;
  z-index: 10;
  padding: 40px;
  background-position: 60% center;
  place-content: center;
  position: relative;
}

@media only screen and (max-width: 996px) {
  .intro-wrapper .intro-wrapper {
    background-position: left;
  }
}

.intro-wrapper h3 {
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #f2e52e;
  letter-spacing: 3px;
  font-size: max(11vw, 5rem);
}

@media (max-width: 556px) {
  .intro-wrapper h3,
  .intro-wrapper p {
    line-height: 94%;
  }
}

.intro-wrapper p {
  font-size: max(5vw, 3rem);
  color: #e9d249;
  letter-spacing: 2px;
  line-height: 45px;
  opacity: 0;
}

.intro-wrapper .intro-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/sluchatka5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0;
}

@media only screen and (max-width: 996px) {
  .intro-wrapper .intro-bg {
    background-position: left;
  }
}

.year {
  color: #021e73;
  text-shadow: 1px 0 0 #f2e52e, 0 1px 0 #f2e52e, -1px 0 0 #f2e52e, 0 -1px 0 #f2e52e;
}
/*# sourceMappingURL=main.css.map */